################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieStore.API/.vs/MovieStore.API/v16
/MovieStore.API/MovieStore.API/obj
/MovieStore.API/MovieStore.API/bin/Debug/net5.0
/MovieStore.API/.vs/MovieStore.API/DesignTimeBuild
/MovieStore.API/MovieStore.API/bin/Release/net5.0
